<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="item-page">New item</a>
        <a class="navbar-brand" href="main">Home</a>
      </div>
      <ul class="nav navbar-nav pull-right">
       <li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
  
  
  <div class="container-fluid"> 
   
        <div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
            <div class="list-group panel">
                <a [routerLink]="['/user-page']" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-envelope"></i> <span class="hidden-sm-down">Users</span></a>
                <a [routerLink]="['/item-page']" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-bar-chart-o"></i> <span class="hidden-sm-down">Items</span></a>
                <a [routerLink]="['/company-page']" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-star"></i> <span class="hidden-sm-down">Companies</span></a>
            </div>
        </div>
        <main class="col-md-10 col-xs-14 p-l-2 p-t-2">
  <form  class="form" *ngIf="item" >
    <div class="form-group">
      <label>Name</label>
      <!-- {{ item | json }} -->
      <input type="text" name="name" class="form-control" [(ngModel)]="item.name"/>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" name="description" class="form-control" [(ngModel)]="item.description"/>
    </div>
    <div class="form-group">
        <label>Order Number</label>
        <input type="text" name="orderNumber" class="form-control" [(ngModel)]="item.orderNumber"/>
    </div>
    <div class="form-group">
        <label>Value</label>
        <input type="text" name="value" class="form-control" [(ngModel)]="item.value"/>
    </div>
    <div class="form-group">
        <label>Barcode</label>
        <input type="text" name="barcode" class="form-control" [(ngModel)]="item.barcode"/>
    </div>
    <div class="form-group">
        <label>Category id</label>
        <input type="text" name="id" class="form-control" [(ngModel)]="item.category.id"/>
    </div>
    <!-- <div class="form-group">
        <label>Category name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="item.category.name"/>
    </div> -->
    <div class="form-group">
    </div>
    <button id="save" type="submit" [disabled]=" "(click)="save(item)" class="btn btn-warning">Save</button>
    <button id="reset" type="button" (click)="reset()" class="btn btn-primary">Reset</button>
  </form> 
  <br/>
  <button id="goBack" [routerLink]="['/item-page']" id="goBack">Go back</button>
  </main>
</div>
  
  