<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      QR Code App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-item>
  <ion-input type="text" placeholder="My QR date" [(ngModel)]="qrData">
  </ion-input>
</ion-item>
<button ion-button full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create Code</button>
<button ion-button full icon-left (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>

<ion-card *ngIf="createCode">
<ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
<ion-card-content>
  <p>Value: {{ createdCode }}</p>
</ion-card-content>
</ion-card>

<ion-card *ngIf="scannedCode">
  <ion-card-content>
    Result from Scan: {{ scannedCode }}
  </ion-card-content>
</ion-card>
</ion-content> -->

<!-- 
<h1>
  Barcode scanner
</h1>
<ngx-barcode [bc-value]="1234" [bc-display-value]="true"></ngx-barcode> -->