div#sidebar{
    margin: 0px;
    pading-left: 0px !important;
}

#sidebar {
    overflow: hidden;
    z-index: 3;
}
#sidebar .list-group {
    min-width: 200px;
    background-color: #333;
    min-height: 100vh;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
}

.navbar{
     
    border-radius: 0;
}

.list-group.panel {

   border-radius: 0;
   margin-bottom: 0;
}